body::before {
    background-image: url("../img/events/eventos-bg.jpg");
}

.events-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
    /*En m칩vil: 1 columna que ocupa todo el ancho disponible (1fr = 1 fracci칩n) */
    padding: 16px;
}

@media (min-width: 768px) {
    .events-grid {
        grid-template-columns: repeat(4, 1fr);  
        /*Para pantalla grande: 4 columnas de igual tama침o */
        padding: 32px;
    }
}

/* Card visual */
.event-panel {
    cursor: pointer;
}

.card {
    background-size: cover;
    background-position: center;
    /* Imagen de fondo ocupa todo y est치 centrada */
    color: #ffffff;
    padding: 24px;
    border-radius: 10px;
    min-height: 350px;
    display: flex;
    flex-direction: column; /* elements apilados verticalmente */
    justify-content: flex-end; /* contenido al final */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.3s ease, filter 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.event-panel:hover .card {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6), inset 0 0 0 3px #cc0000;
    filter: brightness(0.8);
}

.card h3 {
    margin: 0 0 8px 0;
    font-size: 1.3rem;
}

.card p {
    margin: 0;
    font-size: 0.9rem;
}

/* Button oculto */
.btn {
    display: none;
}

/* Details */
.details {
    padding: 20px 100px;
    max-width: 1000px;
    margin: 0 auto; /* centrado horizontalmente*/
}

.detail {
    background: #ffffff;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}


#calendar-section {
    max-width: 1100px;
    margin: 32px auto;
    padding: 0 16px;
    text-align: center;
}

#calendar-link {
    display: inline-block;
    margin-top: 8px;
    padding: 8px;
    background: #fdee1c;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
}

#calendar-link:hover {
    background: #ac1010;
    color: #ffffff;
}