body::before {
    background-image: url("../img/events/eventos-bg.jpg");
}

.events-grid {
    display: grid;
    gap: 24px;
    padding: 16px;
}

@media (min-width: 768px) {
    .events-grid {
        grid-template-columns: repeat(4, 1fr);  
        /*Para pantalla grande: 4 columnas de igual tamaño */
        padding: 32px;
    }
}

/* Card visual */
.event-panel {
    cursor: pointer;
}

.card {
    background-size: cover;
    background-position: center;
    /* Imagen de fondo ocupa todo y está centrada */
    color: #ffffff;
    padding: 24px;
    border-radius: 10px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;/*Manda el texto para abajo*/
    box-shadow: 0 6px 16px rgba(0,0,0,0.438);
    transition: box-shadow 0.3s ease, filter 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.event-panel:hover .card {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6), inset 0 0 0 3px #cc0000;
    filter: brightness(0.8);
}

.card h3 {
    margin: 0 0 8px 0;
    font-size: 21px;
}

.card p {
    margin: 0;
    font-size: 14px;
}

.detail {
    max-width: 1000px;
    margin: 0 auto; /* centrado horizontalmente*/

    background: #ffffff;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}


#calendar-section {
    max-width: 1100px;
    margin: 32px auto;
    padding: 0 16px;
    text-align: center;
}

#calendar-link {
    display: inline-block;
    margin-top: 8px;
    padding: 8px;
    background: #fdee1c;
    color: #000000;
    text-decoration: none;
    border-radius: 6px;
}

#calendar-link:hover {
    background: #bcb11b;
    color: #ffffff;
}

