*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
/*prueba*/
body{
    background: #eef8ff;
}
    
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right,#2d0b00,#716c32);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}


.logo{
    width: 80px;
    margin-bottom: 30px;
}