/* HISTORY SECTION */

body::before {
    background-image: url("../img/history/historia-sevilla.jpg");
}

.history-section {
    padding: 20px 100px;
    max-width: 1200px;
    margin: 0 auto;
}

/* TIMELINE CONTAINER */
.timeline-container {
    position: relative; 
    padding: 20px 0;
}

/* Línea vertical central */
.timeline-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 90%;
    background: linear-gradient(180deg, #950707, rgba(255, 42, 0, 0.3));
    border-radius: 2px;
    z-index: 1;
}

.timeline-items {
    position: relative;
    z-index: 2;
}

.timeline-item {
    display: flex;
    margin-bottom: 50px;
    scale: 1; /* circulitos */
}




.timeline-item:nth-child(odd) {
    padding-right: 52%;
}


.timeline-item:nth-child(even) {
    padding-left: 52%;
}

/* Contenedor de la tarjeta */
.timeline-content {
    background: #ffffffcd;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(85, 7, 7, 0.08);
    width: 100%;
    max-width: 480px;
}

.timeline-content:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.12);
}

.timeline-content h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.timeline-content h4 {
    font-size: 18px;
    font-weight: 600;
    color: #950707;
    margin-bottom: 14px;
}

.timeline-content p {
    font-size: 15px;
    line-height: 1.8;
    margin: 0;
}

.timeline-item::after {
    content: ""; /* circulito */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
    background: #950707;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(250, 122, 32, 0.3);
    z-index: 3;
    top: 28px;
}

/* IMAGEN ENTRE ITEMS */
.timeline-image {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.timeline-image img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .history-section {
        padding: 40px 36px 60px;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        flex-direction: column;
        padding: 0;
        padding-left: 40px;
    }

    .timeline-line {
        left: 0;
        transform: none;
    }

    .timeline-item::after {
        left: -9px;
        transform: translateX(-50%);
    }

    .timeline-content {
        max-width: 100%;
        padding: 28px;
    }

    .timeline-content {
        max-width: 100%;
        padding: 28px;
    }

    .timeline-content h3 {
        font-size: 20px;
    }

    .timeline-content h4 {
        font-size: 16px;
    }

    .timeline-content p {
        font-size: 14px;
    }
}

